<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BJS Corporation - Contact Us</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Cleaning Company Website Template" name="keywords">
    <meta content="Cleaning Company Website Template" name="description">

    <!-- Favicon -->
    <link href="../static/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/style.css" rel="stylesheet">


    <!-- Email JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="../static/email.js"></script>
    <script>
        (function start() {
            // https://dashboard.emailjs.com/admin/integration
            emailjs.init('user_QQaNYH9BQkbKmcH9EGzMG');
        })();
    </script>
</head>

<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header home">
            <div class="container-fluid">
                <div class="header-top row align-items-center">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4" id="logo">
                        <div class="brand">
                            <img id="logoImage" src="../static/img/bjs_logo3.png" alt="Logo">
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8" id="logolessMenu">
                        <div class="navbar navbar-expand-lg bg-light navbar-light">
                            <a class="navbar-brand">Click to Scroll Menu</a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav ml-auto">
                                    <a href="/" class="nav-item nav-link">Home</a>
                                    <a href="/about_us" class="nav-item nav-link">About Us</a>
                                    <div class="nav-item dropdown">
                                        <a href="/products" class="nav-link dropdown-toggle"
                                            data-toggle="dropdown">Products</a>
                                        <div class="dropdown-menu">
                                            <a href="/products" class="dropdown-item">All Products</a>
                                            <a href="/products/motors" class="dropdown-item">Motors</a>
                                            <a href="/products/motor_components" class="dropdown-item">Motor
                                                Components</a>
                                            <a href="/products/fans_blowers" class="dropdown-item">Fans & Blowers</a>
                                            <a href="/products/heatsink" class="dropdown-item">Heatsink</a>
                                            <a href="/products/power_supplies" class="dropdown-item">Power Supplies</a>
                                            <a href="/products/industrial_automation" class="dropdown-item">Industrial
                                                Automation</a>
                                            <a href="/products/wire_harness" class="dropdown-item">Wire Harness</a>
                                        </div>
                                    </div>
                                    <a href="/applications" class="nav-item nav-link">Applications</a>
                                    <a href="/tech_support" class="nav-item nav-link">Tech Support</a>
                                    <a href="/contact_us" class="nav-item nav-link active">Contact Us</a>
                                    <a href="/" class="nav-item nav-link"><i class="fas fa-language"></i>한국어</a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="col-12">
                        <p>Staying connecting is our utmost priority.</p>
                        <p>Please fill out the form and we will get back to you as soon as possible.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <!-- <div class="section-header">
                    <h2><span class="contactUs">Send us a message</span></h2>
                </div> -->
                <div class="row">
                    <!-- <div class="col-md-6">
                                <div class="faqs">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseOne" aria-expanded="true">
                                                    <span>1</span> Lorem ipsum dolor sit amet?
                                                </a>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                    nec
                                                    pretium mi. Curabitur facilisis ornare velit non.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                                    <span>2</span> Lorem ipsum dolor sit amet?
                                                </a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                    nec
                                                    pretium mi. Curabitur facilisis ornare velit non.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                                    <span>3</span> Lorem ipsum dolor sit amet?
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                    nec
                                                    pretium mi. Curabitur facilisis ornare velit non.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                                    <span>4</span> Lorem ipsum dolor sit amet?
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                    nec
                                                    pretium mi. Curabitur facilisis ornare velit non.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                                    <span>5</span> Lorem ipsum dolor sit amet?
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                    nec
                                                    pretium mi. Curabitur facilisis ornare velit non.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                    <div class="col-md-12">
                        <div class="contact-form">
                            <form id="main_form">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input id="name" type="text" class="form-control" placeholder="Your Name"
                                            required="required" name="name" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input id="email" type="email" class="form-control" placeholder="Your Email"
                                            required="required" name="email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="phone" type="text" class="form-control" placeholder="Your Phone Number"
                                        name="phone" />
                                </div>
                                <div class="form-group">
                                    <textarea id="message" class="form-control" rows="6" placeholder="Message"
                                        required="required" name="message"></textarea>
                                </div>
                                <div><button class="btn" onclick="sendEmail()">Send
                                        Message</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->




        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Suite no. 1001 Pan-Ocean Tower, 115 Unjung-ro
                                Bundang-gu, Seongnam-si, Gyeonggi-do, South Korea</p>
                            <p><i class="fa fa-phone-alt"></i>TEL) +82-70-8828-0080</p>
                            <p><i class="fa fa-fax"></i>FAX) +82-2-6455-0080</p>
                            <!-- <p><i class="fa fa-envelope"></i>info@example.com</p> -->
                            <!-- <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Gunpo Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Suite no.1308 Shinil IT Yuuto Building, 13
                                LS-ro
                                Gunpo-si, Gyeonggi-do, South Korea</p>
                            <br>
                            <p><i class="fa fa-phone-alt"></i>TEL) +82-70-8828-0080</p>
                            <p><i class="fa fa-fax"></i>FAX) +82-2-6455-0080</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Shanghai Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Room 506, Hongyi building, 2158 WanYuan road
                                Minhang District, Shanghai, China</p>
                            <br>
                            <p><i class="fa fa-phone-alt"></i>TEL) +86-21-6401-5107</p>
                            <p><i class="fa fa-fax"></i>FAX) +86-21-6401-5377</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Our Partners</h2>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.delta-fan.com/">Delta</a>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.fergas.com/en/">Fergas</a>
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://www.ohsunghq.co.kr/osg/main/index.aspx">Ohsung</a>
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://kunimitsu-carbon.com/english/company/">Kunimitsu</a>
                            <a target="_blank" rel="noopener noreferrer" href="http://www.hsdcmotor.com/">Hao
                                Sheng Motor</a>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-3">
                        <div class="footer-form">
                            <h2>Stay Updated</h2>
                            <p>
                                Lorem ipsum dolor sit amet, adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                            <input class="form-control" placeholder="Email here">
                            <button class="btn">Submit</button>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="container footer-menu">
                <div class="f-menu">
                    <a href="/">Home</a>
                    <a href="/about_us">About Us</a>
                    <a href="/products">Products</a>
                    <a href="/applications">Applications</a>
                    <a href="/tech_support">Tech Support</a>
                    <a href="/contact_us">Contact Us</a>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a target="_blank" rel="noopener noreferrer" href="https://htmlcodex.com">HTML
                                Codex</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Website Made By <a target="_blank" rel="noopener noreferrer"
                                href="https://github.com/onanalee">Hyunsu Lee</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="../static/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/main.js"></script>
</body>

</html>