<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BJS Corporation - DC Fans</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Cleaning Company Website Template" name="keywords">
    <meta content="Cleaning Company Website Template" name="description">

    <!-- Favicon -->
    <link href="../static/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/style.css" rel="stylesheet">



    <!-- AOS LIBRARY -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <!-- checkbox CSS -->
    <link href="../static/checkbox.css" rel="stylesheet">

    <!-- LO DASH JS CDN for checkbox.js -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>


</head>

<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header home">
            <div class="container-fluid">
                <div class="header-top row align-items-center">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4" id="logo">
                        <div class="brand">
                            <a href="/"><img id="logoImage" src="../static/img/bjs_logo3.png" alt="Logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8" id="logolessMenu">
                        <div class="navbar navbar-expand-lg bg-light navbar-light">
                            <a class="navbar-brand">Click to Scroll Menu</a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav ml-auto">
                                    <a href="/" class="nav-item nav-link">Home</a>
                                    <a href="/about_us" class="nav-item nav-link">About Us</a>
                                    <div class="nav-item dropdown">
                                        <a href="/products" class="nav-link dropdown-toggle"
                                            data-toggle="dropdown">Products</a>
                                        <div class="dropdown-menu">
                                            <a href="/products" class="dropdown-item">All Products</a>
                                            <a href="/products/motors" class="dropdown-item">Motors</a>
                                            <a href="/products/motor_components" class="dropdown-item">Motor
                                                Components</a>
                                            <a href="/products/fans_blowers" class="dropdown-item">Fans & Blowers</a>
                                            <a href="/products/heatsink" class="dropdown-item">Heatsink</a>
                                            <a href="/products/power_supplies" class="dropdown-item">Power Supplies</a>
                                            <a href="/products/industrial_automation" class="dropdown-item">Industrial
                                                Automation</a>
                                            <a href="/products/wire_harness" class="dropdown-item">Wire Harness</a>
                                        </div>
                                    </div>
                                    <a href="/applications" class="nav-item nav-link">Applications</a>
                                    <a href="/tech_support" class="nav-item nav-link active">Tech Support</a>
                                    <a href="/contact_us" class="nav-item nav-link">Contact Us</a>
                                    <a href="/" class="nav-item nav-link"><i class="fas fa-language"></i>한국어</a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>DC Fans</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Single Page</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Feature Start -->
        <!-- <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="section-header left">
                            
                            <h2>Advanced motor driving tech
                            </h2>
                        </div>
                        <p>
                            With excellent bionic blade and structure design, THD fans represents the most quiet,
                            powerful, efficient design and high performance DC axial fans. By simulating the curve of an
                            osprey’s wing in flight, the new THD series fan reduces fan noise up to 6dB-A. THD fans
                            offer different sizes of products, from SQ80mm to OD200mm..
                        </p>
                        
                    </div>
                    <div class="col-md-7">
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="../static/img/bjs_logo.png" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>Ultra silent for high performance</h3>
                                <p>
                                    Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis
                                    ornare velit non vulputate.
                                </p>
                            </div>
                        </div>
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="../static/img/cooling_solution.jpeg" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>More powerful cooling solution</h3>
                                <p>
                                    Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis
                                    ornare velit non vulputate.
                                </p>
                            </div>
                        </div>
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="../static/img/motor.jpg" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>Higher DC fan efficiency</h3>
                                <p>
                                    Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis
                                    ornare velit non vulputate.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Feature End -->

        <!-- <div class="container">
            <aside>
                <h3>Starting / Reserves</h3>
                <div>
                    <div>
                        <input type="checkbox" name="startingReserves" value="starting" id="starting">
                        <label for="starting">Starting</label>
                    </div>
                    <div>
                        <input type="checkbox" name="startingReserves" value="reserves" id="reserves">
                        <label for="reserves">Reserves</label>
                    </div>
                </div>

                <h3>Injured</h3>
                <div>
                    <div>
                        <input type="checkbox" name="injured" value="injured" id="injured">
                        <label for="injured">Injured</label>
                    </div>
                </div>

                <h3>Position</h3>
                <div>
                    <div>
                        <input type="checkbox" name="position" value="guard" id="guard">
                        <label for="guard">Guard</label>
                    </div>
                    <div>
                        <input type="checkbox" name="position" value="forward" id="forward">
                        <label for="forward">Forward</label>
                    </div>
                    <div>
                        <input type="checkbox" name="position" value="center" id="center">
                        <label for="center">Center</label>
                    </div>
                </div>

                <h3>Conference</h3>
                <div>
                    <div>
                        <input type="checkbox" name="conference" value="east" id="east">
                        <label for="east">Eastern</label>
                    </div>
                    <div>
                        <input type="checkbox" name="conference" value="west" id="west">
                        <label for="west">Western</label>
                    </div>
                </div>
                <h3>NBA Team</h3>
                <div>
                    <div><input type="checkbox" name="nbaTeam" value="bos" id="bos"><label for="bos">Boston
                            Celtics</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="cle" id="cle"><label for="cle">Cleveland
                            Cavaliers</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="cha" id="cha"><label for="cha">Charlotte
                            Hornets</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="det" id="det"><label for="det">Detroit
                            Pistons</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="gsw" id="gsw"><label for="gsw">Golden State
                            Warriors</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="hou" id="hou"><label for="hou">Houston
                            Rockets</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="ind" id="ind"><label for="ind">Indiana
                            Pacers</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="mia" id="mia"><label for="mia">Miami Heat</label>
                    </div>
                    <div><input type="checkbox" name="nbaTeam" value="mil" id="mil"><label for="mil">Milwaukee
                            Bucks</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="min" id="min"><label for="min">Minnesota
                            Timberwolves</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="nop" id="nop"><label for="nop">New Orleans
                            Pelicans</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="nyk" id="nyk"><label for="nyk">New York
                            Knicks</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="okc" id="okc"><label for="okc">Oklahoma City
                            Thunder</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="phi" id="phi"><label for="phi">Philadelphia
                            76ers</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="por" id="por"><label for="por">Portland Trail
                            Blazers</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="sas" id="sas"><label for="sas">San Antonio
                            Spurs</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="was" id="was"><label for="was">Washington
                            Wizards</label></div>
                    <div><input type="checkbox" name="nbaTeam" value="tor" id="tor"><label for="tor">Toronto
                            Raptors</label></div>
                </div>
            </aside>
            <main>
                <section>
                    <h2>Team LeBron</h2>
                    <div class="player center nop west injured starting lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/202326.png">
                        <h3>DeMarcus Cousins</h3>
                        <p>#0 | Center</p>
                        <p>25.2 PPG 5.4 APG 12.9 RPG</p>
                        <p>[New Orleans Pelicans]</p>
                        <p>INJURED | Four-time All-Star | No. 5 overall pick in 2010</p>
                    </div>
                    <div class="player forward center nop west starting lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203076.png">
                        <h3>Anthony Davis</h3>
                        <p>#23 | Forward-Center</p>
                        <p>27.1 PPG 2.4 APG 10.7 RPG</p>
                        <p>[New Orleans Pelicans]</p>
                        <p>Five-time All-Star | Scored 52 points in 2017 All-Star Game</p>
                    </div>
                    <div class="player forward gsw west starting lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/201142.png">
                        <h3>Kevin Durant</h3>
                        <p>#35 | Forward</p>
                        <p>25.5 PPG 5.5 APG 6.8 RPG</p>
                        <p>[Golden State Warriors]</p>
                        <p>Nine-time All-Star | 2014 Kia NBA MVP | 2017 Finals MVP</p>
                    </div>
                    <div class="player guard bos east starting lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/202681.png">
                        <h3>Kyrie Irving</h3>
                        <p>#11 | Guard</p>
                        <p>24.6 PPG 5 APG 3.6 RPG</p>
                        <p>[Boston Celtics]</p>
                        <p>Five-time All-Star | 2014 Kia All-Star Game MVP</p>
                    </div>
                    <div class="player guard forward cle east starting lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/2544.png">
                        <h3>LeBron James</h3>
                        <p>#23 | Forward-Guard</p>
                        <p>26.5 PPG 8.9 APG 8.1 RPG</p>
                        <p>[Cleveland Cavaliers]</p>
                        <p>CAPTAIN | 14-time All-Star | Four-time Kia NBA MVP</p>
                    </div>
                    <div class="player forward sas west reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/200746.png">
                        <h3>LaMarcus Aldridge</h3>
                        <p>#12 | Forward</p>
                        <p>22.4 PPG 2 APG 8.4 RPG</p>
                        <p>[San Antonio Spurs]</p>
                        <p>Six-time All-Star | 2014-15 Second Team All-NBA</p>
                    </div>
                    <div class="player guard was east reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203078.png">
                        <h3>Bradley Beal</h3>
                        <p>#3 | Guard</p>
                        <p>23.4 PPG 4.2 APG 4.5 RPG</p>
                        <p>[Washington Wizards]</p>
                        <p>First-time All-Star | 2012-13 First Team All-Rookie</p>
                    </div>
                    <div class="player guard mia east reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/201609.png">
                        <h3>Goran Dragic</h3>
                        <p>#7 | Guard</p>
                        <p>17.4 PPG 4.8 APG 4 RPG</p>
                        <p>[Miami Heat]</p>
                        <p>First-time All-Star | First player from Slovenia to earn All-Star honor</p>
                    </div>
                    <div class="player center det east reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203083.png">
                        <h3>Andre Drummond</h3>
                        <p>#0 | Center</p>
                        <p>15.1 PPG 3.7 APG 15.7 RPG</p>
                        <p>[Detroit Pistons]</p>
                        <p>Second-time All-Star | 2015-16 NBA rebounding leader</p>
                    </div>
                    <div class="player forward okc west reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/202331.png">
                        <h3>Paul George</h3>
                        <p>#13 | Forward</p>
                        <p>22.4 PPG 3.1 APG 5.4 RPG</p>
                        <p>[Oklahoma City Thunder]</p>
                        <p>Five-time All-Star, third in a row | Three-time Third Team All-NBA</p>
                    </div>
                    <div class="player forward center cle east injured reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/201567.png">
                        <h3>Kevin Love</h3>
                        <p>#0 | Forward-Center</p>
                        <p>17.9 PPG 1.6 APG 9.4 RPG</p>
                        <p>[Cleveland Cavaliers]</p>
                        <p>INJURED | Five-time All-Star | 2011 Kia NBA Most Improved Player</p>
                    </div>
                    <div class="player guard ind east reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203506.png">
                        <h3>Victor Oladipo</h3>
                        <p>#4 | Guard</p>
                        <p>24.4 PPG 4.1 APG 5.4 RPG</p>
                        <p>[Indiana Pacers]</p>
                        <p>First-time All-Star | No. 2 overall pick in 2013</p>
                    </div>
                    <div class="player forward center nyk east injured reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/204001.png">
                        <h3>Kristaps Porzingis</h3>
                        <p>#6 | Forward-Center</p>
                        <p>22.7 PPG 1.2 APG 6.6 RPG</p>
                        <p>[New York Knicks]</p>
                        <p>INJURED | First-time All-Star | 2017 Taco Bell Skills Challenge champ</p>
                    </div>
                    <div class="player guard cha east reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/202689.png">
                        <h3>Kemba Walker</h3>
                        <p>#15 | Guard</p>
                        <p>22.9 PPG 5.8 APG 3.3 RPG</p>
                        <p>[Charlotte Hornets]</p>
                        <p>Second-time All-Star | Hornets' all-time leader in 3-pointers made</p>
                    </div>
                    <div class="player guard was east injured reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/202322.png">
                        <h3>John Wall</h3>
                        <p>#2 | Guard</p>
                        <p>19.4 PPG 9.3 APG 3.6 RPG</p>
                        <p>[Washington Wizards]</p>
                        <p>INJURED | Five-time All-Star | No. 1 overall pick in 2010</p>
                    </div>
                    <div class="player guard okc west reserves lebron">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/201566.png">
                        <h3>Russell Westbrook</h3>
                        <p>#0 | Guard</p>
                        <p>25.5 PPG 10.3 APG 9.3 RPG</p>
                        <p>[Oklahoma City Thunder]</p>
                        <p>Seven-time All-Star | 2017 Kia NBA MVP | Two-time Kia All-Star MVP</p>
                    </div>
                </section>
                <section>
                    <h2>Team Steph</h2>
                    <div class="player forward mil east starting steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203507.png">
                        <h3>Giannis Antetokounmpo</h3>
                        <p>#34 | Forward</p>
                        <p>27.6 PPG 4.7 APG 10.4 RPG</p>
                        <p>[Milwaukee Bucks]</p>
                        <p>Two-time All-Star | Consecutive All-Star starter</p>
                    </div>
                    <div class="player guard gsw west starting steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/201939.png">
                        <h3>Stephen Curry</h3>
                        <p>#30 | Guard</p>
                        <p>26.8 PPG 6.5 APG 5.2 RPG</p>
                        <p>[Golden State Warriors]</p>
                        <p>CAPTAIN | Five-time All-Star | Two-time Kia NBA MVP</p>
                    </div>
                    <div class="player guard tor east starting steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/201942.png">
                        <h3>DeMar DeRozan</h3>
                        <p>#10 | Guard</p>
                        <p>24 PPG 5.1 APG 4 RPG</p>
                        <p>[Toronto Raptors]</p>
                        <p>Four-time All-Star | Toronto's all-time leading scorer</p>
                    </div>
                    <div class="player center phi east starting steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203954.png">
                        <h3>Joel Embiid</h3>
                        <p>#21 | Center</p>
                        <p>23.7 PPG 3.1 APG 11.1 RPG</p>
                        <p>[Philadelphia 76ers]</p>
                        <p>PHI</p>
                        First-time All-Star | 2016-17 First Team All-Rookie
                    </div>
                    <div class="player guard hou west starting steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/201935.png">
                        <h3>James Harden</h3>
                        <p>#13 | Guard</p>
                        <p>31.4 PPG 9 APG 5 RPG</p>
                        <p>[Houston Rockets]</p>
                        <p>Six-time All-Star | Leads NBA in scoring this season</p>
                    </div>
                    <div class="player guard min west reserves steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/202710.png">
                        <h3>Jimmy Butler</h3>
                        <p>#23 | Guard</p>
                        <p>22.4 PPG 5 APG 5.5 RPG</p>
                        <p>[Minnesota Timberwolves]</p>
                        <p>Four-time All-Star | 2015 Kia NBA Most Improved Player</p>
                    </div>
                    <div class="player forward gsw west reserves steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203110.png">
                        <h3>Draymond Green</h3>
                        <p>#23 | Forward</p>
                        <p>11.3 PPG 7.3 APG 7.9 RPG</p>
                        <p>[Golden State Warriors]</p>
                        <p>Three-time All-Star | 2016-17 Kia Defensive Player of the Year</p>
                    </div>
                    <div class="player forward center bos east reserves steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/201143.png">
                        <h3>Al Horford</h3>
                        <p>#42 | Forward-Center</p>
                        <p>13.2 PPG 5.2 APG 7.8 RPG</p>
                        <p>[Boston Celtics]</p>
                        <p>Five-time All-Star | No. 3 overall pick in 2007</p>
                    </div>
                    <div class="player guard por west reserves steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203081.png">
                        <h3>Damian Lillard</h3>
                        <p>#0 | Guard</p>
                        <p>25.8 PPG 6.5 APG 4.5 RPG</p>
                        <p>[Portland Trail Blazers]</p>
                        <p>Three-time All-Star | 2013 Kia Rookie of the Year</p>
                    </div>
                    <div class="player guard tor east reserves steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/200768.png">
                        <h3>Kyle Lowry</h3>
                        <p>#7 | Guard</p>
                        <p>16.5 PPG 6.4 APG 5.7 RPG</p>
                        <p>[Toronto Raptors]</p>
                        <p>Four-time All-Star | 2015-16 Third Team All-NBA</p>
                    </div>
                    <div class="player guard gsw west reserves steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/202691.png">
                        <h3>Klay Thompson</h3>
                        <p>#11 | Guard</p>
                        <p>20.1 PPG 2.6 APG 3.9 RPG</p>
                        <p>[Golden State Warriors]</p>
                        <p>Four-time All-Star | 2016 Three-Point Contest Champion</p>
                    </div>
                    <div class="player center min west reserves steph">
                        <img src="//ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/1626157.png">
                        <h3>Karl-Anthony Towns</h3>
                        <p>#32 | Center</p>
                        <p>20.4 PPG 2.4 APG 12.1 RPG</p>
                        <p>[Minnesota Timberwolves]</p>
                        <p>First-time All-Star | 2016 Kia NBA Rookie of the Year</p>
                    </div>
                </section>
            </main>
        </div> -->




















        <!-- Single Page Start -->
        <div class="single">

            <!-- <div class="section-header">
                    <p>DC Fans</p>
                    <h2>Dog Cat fans...</h2>
                </div> -->

            <div class="row">
                <div class="col-2" id="filter-input-wrapper">
                    <div>
                        <hr>
                        <div>Types</div>
                        <div><input type="checkbox" id="DC" name="productType" value="DC">
                            <label for="DC"> DC Fan</label></div>
                        <div>
                            <input type="checkbox" id="EC" name="productType" value="EC">
                            <label for="EC"> EC Fan</label>
                        </div>
                        <div><input type="checkbox" id="Cross" name="productType" value="Cross">
                            <label for="Cross"> Cross Fan</label>
                        </div>
                        <div><input type="checkbox" id="Axial" name="productType" value="Axial">
                            <label for="Axial">Axial</label>
                        </div>
                        <div><input type="checkbox" id="Blower" name="productType" value="Blower">
                            <label for="Blower">Blower</label>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <div>Sizes</div>
                        <div><input type="checkbox" id="40mm" name="size" value="40mm">
                            <label for="40mm"> 40mm</label></div>
                        <div>
                            <input type="checkbox" id="50mm" name="size" value="50mm">
                            <label for="50mm"> 50mm</label>
                        </div>
                        <div><input type="checkbox" id="70mm" name="size" value="70mm">
                            <label for="70mm"> 70mm</label>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <div>Voltage</div>
                        <div><input type="checkbox" id="50V" name="voltage" value="50V">
                            <label for="50V"> 50V</label></div>
                        <div>
                            <input type="checkbox" id="110V" name="voltage" value="110V">
                            <label for="110V"> 110V</label>
                        </div>
                        <div><input type="checkbox" id="220V" name="voltage" value="220V">
                            <label for="220V"> 220V</label>
                        </div>
                    </div>
                </div>
                <div class="col-10" id="wrapper">
                    <!-- <img class="img-fluid rounded" src="../static/img/single.jpg" alt="Image"> -->

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product Code</th>
                                <th>Dimensions</th>
                                <th>Type</th>
                                <th>Speed</th>
                                <th>Voltage</th>
                                <th>Air Pressure</th>
                                <th>More rows</th>
                                <th>even more rows</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="productItem DC 220V 40mm">
                                <td>802524VBL
                                    <div>
                                        <img class="tableImage" src="../static/img/dc_sample.jpg">
                                        <div><a href="../static/img/dc_sample.jpg" class="link-preview"
                                                data-lightbox="portfolio">
                                                <span class="productZoom">View Full Image</span>
                                            </a></div>
                                    </div>
                                </td>
                                <td>40mm</td>
                                <td>DC Fan</td>
                                <td>4,100 RPM</td>
                                <td>220V</td>
                                <td>3.44 inch H2O</td>
                                <td>lorem ipsum</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr class="productItem EC 110V 50mm">
                                <td>FFB1424
                                    <div>
                                        <img class="tableImage" src="../static/img/fan.jpg">
                                        <div><a href="../static/img/fan.jpg" class="link-preview"
                                                data-lightbox="portfolio">
                                                <span class="productZoom">View Full Image</span>
                                            </a></div>
                                    </div>
                                </td>
                                <td>50mm</td>
                                <td>EC Fan</td>
                                <td>5,900 RPM</td>
                                <td>110V</td>
                                <td>5.00 inch H2O</td>
                                <td>lorem ipsum</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr class="productItem Cross 220V 70mm">
                                <td>PFB1224
                                    <div>
                                        <img class="tableImage" src="../static/img/dog.jpg">
                                        <div><a href="../static/img/dog.jpg" class="link-preview"
                                                data-lightbox="portfolio">
                                                <span class="productZoom">View Full Image</span>
                                            </a></div>
                                    </div>
                                </td>
                                <td>70mm</td>
                                <td>Cross Fan</td>
                                <td>1,500 RPM</td>
                                <td>50V</td>
                                <td>15.00 inch H2O</td>
                                <td>lorem ipsum</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr class="productItem DC 220V 70mm">
                                <td>802524VBL
                                    <div>
                                        <img class="tableImage" src="../static/img/dc_sample.jpg">
                                        <div><a href="../static/img/dc_sample.jpg" class="link-preview"
                                                data-lightbox="portfolio">
                                                <span class="productZoom">View Full Image</span>
                                            </a></div>
                                    </div>
                                </td>
                                <td>70mm</td>
                                <td>DC Fan</td>
                                <td>4,100 RPM</td>
                                <td>220V</td>
                                <td>3.44 inch H2O</td>
                                <td>lorem ipsum</td>

                                <td>lorem ipsum</td>
                            </tr>
                            <tr class="productItem EC 220V 40mm">
                                <td>FFB1424
                                    <div>
                                        <img class="tableImage" src="../static/img/fan.jpg">
                                        <div><a href="../static/img/fan.jpg" class="link-preview"
                                                data-lightbox="portfolio">
                                                <span class="productZoom">View Full Image</span>
                                            </a></div>
                                    </div>
                                </td>
                                </td>
                                <td>40mm</td>
                                <td>EC Fan</td>
                                <td>5,900 RPM</td>
                                <td>220V</td>
                                <td>5.00 inch H2O</td>
                                <td>lorem ipsum</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr class="productItem Cross 110V 70mm">
                                <td>FFB1424
                                    <div>
                                        <img class="tableImage" src="../static/img/fan.jpg">
                                        <div><a href="../static/img/fan.jpg" class="link-preview"
                                                data-lightbox="portfolio">
                                                <span class="productZoom">View Full Image</span>
                                            </a></div>
                                    </div>
                                </td>
                                </td>
                                <td>70mm</td>
                                <td>Cross Fan</td>
                                <td>1,500 RPM</td>
                                <td>110V</td>
                                <td>15.00 inch H2O</td>
                                <td>lorem ipsum</td>
                                <td>lorem ipsum</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- Single Page End -->



        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Suite no. 1001 Pan-Ocean Tower, 115 Unjung-ro
                                Bundang-gu, Seongnam-si, Gyeonggi-do, South Korea</p>
                            <p><i class="fa fa-phone-alt"></i>TEL) +82-70-8828-0080</p>
                            <p><i class="fa fa-fax"></i>FAX) +82-2-6455-0080</p>
                            <!-- <p><i class="fa fa-envelope"></i>info@example.com</p> -->
                            <!-- <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Gunpo Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Suite no.1308 Shinil IT Yuuto Building, 13
                                LS-ro
                                Gunpo-si, Gyeonggi-do, South Korea</p>
                            <br>
                            <p><i class="fa fa-phone-alt"></i>TEL) +82-70-8828-0080</p>
                            <p><i class="fa fa-fax"></i>FAX) +82-2-6455-0080</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Shanghai Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Room 506, Hongyi building, 2158 WanYuan road
                                Minhang District, Shanghai, China</p>
                            <br>
                            <p><i class="fa fa-phone-alt"></i>TEL) +86-21-6401-5107</p>
                            <p><i class="fa fa-fax"></i>FAX) +86-21-6401-5377</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Our Partners</h2>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.delta-fan.com/">Delta</a>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.fergas.com/en/">Fergas</a>
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://www.ohsunghq.co.kr/osg/main/index.aspx">Ohsung</a>
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://kunimitsu-carbon.com/english/company/">Kunimitsu</a>
                            <a target="_blank" rel="noopener noreferrer" href="http://www.hsdcmotor.com/">Hao
                                Sheng Motor</a>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-3">
                        <div class="footer-form">
                            <h2>Stay Updated</h2>
                            <p>
                                Lorem ipsum dolor sit amet, adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                            <input class="form-control" placeholder="Email here">
                            <button class="btn">Submit</button>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="container footer-menu">
                <div class="f-menu">
                    <a href="/">Home</a>
                    <a href="/about_us">About Us</a>
                    <a href="/products">Products</a>
                    <a href="/applications">Applications</a>
                    <a href="/tech_support">Tech Support</a>
                    <a href="/contact_us">Contact Us</a>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a target="_blank" rel="noopener noreferrer" href="https://htmlcodex.com">HTML
                                Codex</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Website Made By <a target="_blank" rel="noopener noreferrer"
                                href="https://github.com/onanalee">Hyunsu Lee</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="../static/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/main.js"></script>


    <script src="../static/checkbox.js"></script>
</body>

</html>