<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>BJS Corp. Contact Us!</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="../static/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="../static/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="../static/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="../static/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="../static/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="../static/loading.gif" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="head_top">
            <div class="container">


               <div class="copyright col-xl-12 col-lg-12 col-md-12 col-sm-12">

                  <a href="#"><img class="sk_flag" src="../static/sk_flag.png">한국어</a>

               </div>

            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col logo_section">
                  <div class="full">

                     <div class="logo"> <a href="/"><img src="../static/bjs_logo3.png" alt="logo" /></a></div>

                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li> <a href="/">Home</a> </li>
                              <li> <a href="/about_us">About Us</a> </li>
                              <li> <a href="/applications"> Applications</a> </li>
                              <li> <a href="/products">Products</a> </li>
                              <li class="active"> <a href="/tech_support"> Tech Support</a> </li>
                              <li> <a href="/contact_us">Contact Us</a> </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
   </header>
   <!-- end header -->



   <div class="brand_color">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Technical Support</h2>
               </div>
            </div>
         </div>
      </div>

   </div>
   <!-- Lastestnews -->
   <div class="Lastestnews blog">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">

                  <span>It is a long established fact that a reader will be distracted by the readable <br>content of a
                     page when looking at its layout. The point of using Lorem </span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">
               <div class="news-box">
                  <figure><img src="../static/1.jpg" alt="img" /></figure>
                  <h3>Live With Music</h3>
                  <span> March 20</span><span>Comment</span>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                     when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                     distribution of letters, </p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">
               <div class="news-box">
                  <figure><img src="../static/2.jpg" alt="img" /></figure>
                  <h3>Best Music</h3>
                  <span> March 20</span><span>Comment</span>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                     when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                     distribution of letters, </p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">
               <div class="news-box">
                  <figure><img src="../static/3.jpg" alt="img" /></figure>
                  <h3>Live With Music</h3>
                  <span> March 20</span><span>Comment</span>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                     when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                     distribution of letters, </p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="news-box">
                  <figure><img src="../static/3.jpg" alt="img" /></figure>
                  <h3>Live With Music</h3>
                  <span> March 20</span><span>Comment</span>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                     when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                     distribution of letters, </p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="news-box">
                  <figure><img src="../static/1.jpg" alt="img" /></figure>
                  <h3>Live With Music</h3>
                  <span> March 20</span><span>Comment</span>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                     when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                     distribution of letters, </p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="news-box">
                  <figure><img src="../static/2.jpg" alt="img" /></figure>
                  <h3>Best Music</h3>
                  <span> March 20</span><span>Comment</span>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                     when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                     distribution of letters, </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end Lastestnews -->
   <!--  footer -->
   <footr>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <img class="footer_logo" src="../static/bjs_logo3.png" alt="logo" />
               </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Head Office</h3>
                     <span>Suite no. 1001 Pan-Ocean Tower, 115 Unjung-ro<br>
                        Bundang-gu, Seongnam-si, Geyonggi-do, South Korea<br>
                        TEL) +82-70-8828-0080<br>
                        FAX) +82-2-6455-0080</span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Gunpo Office</h3>
                     <span>Suite no.1308 Shinil IT Yuuto Building, 13 LS-ro<br>
                        Gunpo-si, Geyonggi-do, South Korea<br>
                        TEL) +82-70-8828-0080 <br>
                        FAX) +82-2-6455-0080 </span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Shanghai Office</h3>
                     <span>Room 506, Hongyi building, 2158 WanYuan road<br>
                        Minhang District, Shanghai, China<br>
                        TEL) +86-21-6401-5107 <br>
                        FAX) +86-21-6401-5377 </span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>LINKS</h3>
                     <ul class="lik">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/about_us">About Us</a></li>
                        <li> <a href="/applications">Applications</a></li>
                        <li> <a href="/products">Products</a></li>
                        <li> <a href="/tech_support">Tech Support</a></li>
                        <li> <a href="/contact_us">Contact Us</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <a href="#"><img class="sk_flag" src="../static/sk_flag.png">한국어</a>

         </div>

      </div>
   </footr>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="../static/jquery.min.js"></script>
   <script src="../static/popper.min.js"></script>
   <script src="../static/bootstrap.bundle.min.js"></script>
   <script src="../static/jquery-3.0.0.min.js"></script>
   <script src="../static/plugin.js"></script>
   <!-- sidebar -->
   <script src="../static/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="../static/custom.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script>
      $(document).ready(function () {
         $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
         });

         $(".zoom").hover(function () {

            $(this).addClass('transition');
         }, function () {

            $(this).removeClass('transition');
         });
      });

   </script>
</body>

</html>